# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# macOS
.DS_Store

# VS Code
.vscode/

# Python cache
.pytest_cache/
.mypy_cache/

# ChromaDB
storage/chroma/
backend/storage/chroma/
chroma_langchain_db/

# Uploaded documents
storage/uploads/*
!storage/uploads/.gitkeep
backend/storage/uploads/*
!backend/storage/uploads/.gitkeep

# Logs
*.log