fastapi[standard]
uvicorn
python-multipart

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-chroma
langchain-google-genai
langchain_huggingface
langchain-groq
sentence-transformers

chromadb

pydantic

beautifulsoup4
requests
pypdf

python-dotenv
truststore